#audit-trail-box a.dbx-toggle, #audit-trail-box a.dbx-toggle-open:visited {
	height: 22px;
	width: 22px;
	top: 3px;
	right: 5px;
	background-position: 0 -3px;
}

#audit-trail-box a.dbx-toggle-open, #audit-trail-box a.dbx-toggle-open:visited {
	height: 22px;
	width: 22px;
	top: 3px;
	right: 5px;
	background-position: 0 -28px;
}

#audit-trail-box fieldset {
	margin-bottom: 1em;
}

#audit-trail-box h3 {
	padding: 3px;
	font-weight: normal;
	font-size: 13px;
}

#audit-trail-box div {
	margin-top: .5em;
}
#audit-trail-box a.dbx-toggle, #audit-trail-box a.dbx-toggle-open:visited {
	height: 22px;
	width: 22px;
	top: 3px;
	right: 5px;
	background-position: 0 -3px;
}

#audit-trail-box a.dbx-toggle-open, #audit-trail-box a.dbx-toggle-open:visited {
	height: 22px;
	width: 22px;
	top: 3px;
	right: 5px;
	background-position: 0 -28px;
}

#audit-trail-box h3.dbx-handle {
	margin-left: 7px;
	margin-bottom: -7px;
	padding: 6px 1em 0 3px;
	background: #2685af url(../../../wp-admin/images/box-head-right.gif) no-repeat top right;
}

#audit-trail-box div.dbx-handle-wrapper {
	margin: 0 0 0 -7px;
	background: #fff url(../../../wp-admin/images/box-head-left.gif) no-repeat top left;
}

#audit-trail-box div.dbx-content {
	margin-left: 8px;
	background: url(../../../wp-admin/images/box-bg-right.gif) repeat-y right;
	padding: 10px 10px 5px 0px;
}

#audit-trail-box div.dbx-content-wrapper {
	margin-left: -7px;
	margin-right: 0;
	background: url(../../../wp-admin/images/box-bg-left.gif) repeat-y left;
}

#audit-trail-box fieldset.dbx-box {
	padding-bottom: 9px;
	margin-left: 6px;
	background: url(../../../wp-admin/images/box-butt-right.gif) no-repeat bottom right;
}

#audit-trail-box div.dbx-box-wrapper {
	background: url(../../../wp-admin/images/box-butt-left.gif) no-repeat bottom left;
}

#audit-trail-box .dbx-box-closed div.dbx-content-wrapper {
	padding-bottom: 2px;
	background: url(../../../wp-admin/images/box-butt-left.gif) no-repeat bottom left;
}

#audit-trail-box .dbx-box {
	background: url(../../../wp-admin/images/box-butt-right.gif) no-repeat bottom right;
}

#audit-view-box textarea, #audit-view-box input
{
	font-size: 0.9em;
}

#audit-view-box ins
{
color: green;
}

#audit-view-box del
{
color: red;
text-decoration: line-through;
}

#audit-view-box div
{
max-height: 200px;
overflow: auto;
margin-bottom: 10px;  
}
